:root {
	--orange: #ff9b51;
	--gray1: #9a9a9a;
/* #d7d7d7 , #f5f5f5 , #a6a6a6 , #333*/
}


* {
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px; 
}
a {
	text-decoration: none;
	color: var(--gray1);
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway';
}
h4 {
	font-size: 20px;
}
body {
	width: auto;
	background-color: white;
}
i {
	font-size: 36px;
}

textarea:focus {
	outline: none;
}
button { outline: none; cursor: pointer; }
input { outline: none; }
input[type="submit"] { cursor: pointer; }
/* Навигация */
nav {
	background-color: black;
	border-bottom: 1px solid white;
	height: 70px;
}
.nav {
	width: 80%;
	height: 70px;
	margin: 0px auto;
    display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.logo img {
	height: 30px;
}
ul {
    list-style-type: none;
}
li {
	float: left;
	margin: 0px 15px;
}

/* Шапка */
header {
	background-color: var(--gray1);
	background-position: top center;
	background-size: auto 900px;
	height: 640px;
}

.bo {
	width: 80%;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
/* Форма */

form.trial {
	width: 360px;
	height: 360px;
	float: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;

	position: relative;

	border-radius: 5px;
	background-color: white;
}
form.trial p {
	background-color: #f5f5f5;
	width: 100%;
	height: 60px;
	top: 0px;

	line-height: 60px;

	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
form.trial span {
	color: var(--orange);
	text-transform: uppercase;
	font-size: 20px;
}
.trial input[type="text"],
.trial input[type="email"],
.trial input[type="password"] {
	padding: 10px 10px;
	width: 60%;
	font-size: 14px;

	transition: .25s;

	border: none;
	border-bottom: 1px solid var(--gray1);
}
.trial input[type="submit"] {
	width: 100%;
	height: 60px;

	border: 0px;
	color: white;
	background-color: var(--orange);
}
.trial input[type="text"]:focus,
.trial input[type="email"]:focus,
.trial input[type="password"]:focus {
	width: 70%;
}

/* Intro */

.intro {
	height: 65%;
	padding: 200px 0px; 

	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: space-around;

	width: 550px;
}
.intro h2 {
	color: #a6a6a6;
}
.intro p {
	font-family: 'Raleway';
	font-weight: 300;
	color: #d7d7d7;
}
.intro h2::after {
	content: "";
	height: 2px;
	width: 100px;
	
	display: block;
	margin-top: 15px;

	background-color: white;
}

.btn-int {
	background: none;
	border: 2px solid white;
	color: white;

	width: 130px;
	height: 40px;
	font-size: 16px;
}
/* brand-bar */
.brand-bar {
	height: 105px;
	width: 80%;
	margin: 0px auto;
	background-color: white;
	display: flex; 
	justify-content: space-between;
	align-items: center;
	color: var(--gray1);
}
.sm {
	width: 35%;
	float: left;
}
.sm h4 {
	color: black;
	font-weight: 700;
} 
.icons {
	width: 65%;
	float: right;
	display: flex; 
	justify-content: space-around;
	font-size: 36px;
}
/* Features */

.f-content {
	width: 110px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.features div {
	width: 100%;
}
.container > section {
	width: 80%;
	height: 600px;
	margin: 0px auto;
} 
.features div.container:nth-child(odd) {
	background-color: #f5f5f5;
}
.features div.container:nth-child(even) {
	background-color: white;
}
	
	/* With tabs (1) */
div.tabs-container {
	height: 300px;
	width: 100px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 100px;
}
.tabs-container button {
	height: 100px;
	width: 100px;

	background-color: #333;
	color: white;
	border: 1px solid white;
}
button.tab-1 {background-color: var(--orange);}
.text-container	{
	height: calc(300px);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.text-container .btn-int {
	border-radius: 3px;
	background-color: var(--orange);
	color: white;
	border: none;
}

.tab-image-container {
	size: 100%;
	padding: 20px;
} 
	/* With text */

div.text {
	height: 320px;
	max-width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
}

div.image-container {
	width: 450px;
	height: 300px;
}

.image-container img {
	height: 100%;
}

.text h4::after {
	content: "";
	height: 2px;
	width: 100px;
	
	display: block;
	margin-top: 15px;

	background-color: var(--orange);
}

/* Second Feature */

.cloud-p > i {
	height: 30px;
	width: 30px;
	font-size: 18px;
	padding: 8px;
	
	line-height: 30px;
	text-align: center;
	color: var(--orange);
	border: 2px solid var(--orange);
	border-radius: 100%;

	float: left;
	margin-right: 20px; 
}

/* Our Process */

.our-process {
	text-align: center;
}
.container {
	width: 80%;
	height: 600px;
	margin: 0px auto;
	padding: 60px 0;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}
.header {
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.header h2 {
	text-transform: uppercase;
	font-size: 30px; 
}
.header > h2::after {
	content: "";
	height: 2px;
	width: 100px;
	
	display: block;
	margin: 0 auto;
	margin-top: 15px;

	background-color: var(--orange);
}
.good-item {
	max-height: 320px;
	max-width: 320px;

	width: 33%;
	height: 100%;
	padding: 1%;
	margin-top: calc(40px - 2%);
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	box-sizing: border-box;
}
.good-item i {
	border: 3px solid var(--orange);
	border-radius: 100%;
	padding: 20px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	color: var(--orange);
}
.three-items {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 320px;
}
/* Prices */

.pricing-options {
	height: 880px;
	width: 100%;
	background-color: #f5f5f5; 
	padding: 100px 0;
	box-sizing: border-box;
}
.price-container {
	height: 100%;
	width: 80%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

	/* Cards */


.three-cards {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.card {
	background-color: #a6a6a6;
	width: 30%;
}
.middle-card {
	margin: 0 10px;
}
.card h4 {
	text-align: center;
	padding: 20px;
	border-bottom: 1px solid #f5f5f5;
	font-size: 24px;
}
.card p {
	padding: 10px;
	text-align: center;
}
.black-part {
	background-color: #333;
	color: white;
	border-bottom: 5px solid var(--orange); 
}
.price {
	font-size: 72px;
	font-family: 'Raleway';
	font-weight: 900;
}
span.dollar {
	font-size: 30px;
	font-family: 'Raleway';
	font-weight: 700;
	margin-right: 10px;
}
.pay {
	font-size: 14px;
	font-style: italic;
}
.popular {
	color: white;
	background-color: var(--orange);
	text-transform: uppercase;
}
.what p {
	background-color: white;
	color: #a6a6a6;
	border-bottom: 1px solid #f5f5f5;
	text-transform: uppercase;
}
/* Customers Saying */

.customers-saying {
	width: 100%;
	height: 600px;
	box-sizing: border-box;
	padding: 100px 0;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.quotes {
	width: 80%;
	margin: 0 auto;	

	display: flex;
	justify-content: space-between;	
}
.quote {
	height: 250px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}
.quote > p:first-child {
	font-style: italic;
	width: 90%;
	height: 130px;
	padding: 20px;
	border-radius: 10px;

	background-color: #f5f5f5;
}
.person {
	display: flex;
}
.person img {
	height: 70px;
	width: 70px;
	border-radius: 100%;
	background-color: #9a9a9a;
}
.name {
	margin-top: 10px;
	height: 90%;
	margin-left: 7%;
}
.name p:first-child {
	font-weight: 700;
	font-size: 18px;
}
.name p:last-child {
	font-size: 14px;
}

/* Custom-section */

.custom-section {
	width: 100%;
	height: 320px;
	background-color: var(--gray1);
	color: white;
	text-align: center;
}
.custom-section > .container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding: 50px 0;

	box-sizing: border-box;

}
.custom-section > .container h2 {
	font-size: 30px;
}
.custom-section > .container h2::after {
	content: "";
	height: 2px;
	width: 100px;
	
	display: block;
	margin: 0 auto;
	margin-top: 15px;

	background-color: white;
}

/* Footer */
form.contact-us {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.container-name {
	margin: 0 auto;
	text-align: center;
}
.container-name h2 {
	text-transform: uppercase;
	font-size: 30px;
}
.container-name h2::after {
	content: "";
	height: 2px;
	width: 100px;
	background-color: var(--orange);
	display: block;
	margin: 20px auto;

}

.contact-us input {
	border: none;
	border-bottom: 1px solid #d6d6d6; 

	padding: 5px;
}
textarea {
	width: 100%;
	height: 200px;
	
	border: none;
	border-bottom: 1px solid #d6d6d6;

	box-sizing: border-box;
	resize: none;
	overflow-y: none;

}
.container-form {
	display: flex;
	justify-content: space-between;
}
.container-address {
	width: 48%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.message {
	width: 48%;
	height: 200px;
}
input.btn-mail {
	width: 130px;
	height: 45px;
	margin: 0 auto;

	background-color: var(--orange);
	border-radius: 7px; 
	border: none;

	color: white;
}

/* Mini Social */
.social-media-mini {
	height: 70px;
	width: 100%;
	background-color: black;
	padding: 10px 0;

	content: "";
	color: #cccccc;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.social-media-mini i {
	font-size: 25px;

}
.icons-footer i {
	letter-spacing: 20px;
}





















::-webkit-scrollbar-track {
	background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb {
	background-color: var(--orange);
}


::-webkit-scrollbar{
	width: 10px;
}